@use "../utils/variables" as *;

.app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  letter-spacing: 0.36px;
  border: none;
  background: none;
  cursor: pointer;
  &__text {
    position: relative;
  }
  &--regular {
    color: rgba(#000, 0.8);
    transition: color 0.2s;
    border-radius: 20px;
    padding: 0 $size-base * 3;
    height: $size-base * 11;
    background: #fff;
    &:hover {
      color: #000;
    }
  }
  &--w100 {
    width: 100%;
  }
  &--nav {
    height: $size-base * 8;
    font-weight: $fontWeight-bold;
  }
  &--with-icon {
    width: $size-base * 6;
    height: $size-base * 6;
  }
  &-group {
    * + * {
      margin-top: $size-base * 2.5;
    }
  }
}
