@use "../utils/variables" as *;

.app-status {
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: $fontSize-small;
  display: flex;
  align-items: center;
  gap: $size-base;
  &__icon {
    display: inline-block;
    width: $size-base * 3;
    height: $size-base * 3;
    border-radius: 50%;
    background: #11b174;
    border: 2px solid rgba($color-text, 0.24);
  }
}

.app-socials {
  display: flex;
  gap: $size-base * 2;
  & > * {
    width: $size-base * 8;
    height: $size-base * 8;
  }
}
