@use "./variables" as *;

.app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size-base * 11;
  background: #fff;
  line-height: 1;
  padding: 0 $size-base * 3;
  border: none;
  border-radius: 20px;
  transition: color 0.2s;
  color: rgba(#000, 0.8);
  cursor: pointer;
  &:hover {
    color: #000;
  }
  &__text {
    position: relative;
  }
  &--w100 {
    width: 100%;
  }
  &--nav {
    height: $size-base * 8;
    font-weight: $fontWeight-bold;
  }
  &-group {
    * + * {
      margin-top: $size-base * 2.5;
    }
  }
}
