@use "./variables" as *;

.app-card {
  padding: $size-base * 3 $size-base * 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $size-base * 6 $size-base;
  border-radius: $size-base * 4;
  background: #1f242c;
  line-height: 1;
  &--illustrated {
    padding: 0;
    grid-template-columns: 88px 1fr;
    grid-gap: $size-base * 3;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: $size-base;
    letter-spacing: 0.36px;
    &:nth-child(4n) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -#{$size-base * 3};
        left: 0;
        width: calc(300% + $size-base * 2);
        height: 1px;
        background: rgba(#fff, 0.1);
      }
    }
    &-label {
      font-size: $fontSize-small;
      color: $color-text-secondary;
      letter-spacing: 0.3px;
    }
  }
  &__image {
    border-top-left-radius: $size-base * 4;
    border-bottom-left-radius: $size-base * 4;
  }
  &__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: $size-base * 2;
  }
}
