@use "_mixins" as *;
@use "_variables" as *;

.app-h-color-secondary {
  color: $color-text-secondary;
}

@include generateIndentation("app-h-mt", $indentationSteps, margin-top);
@include generateIndentation("app-h-mr", $indentationSteps, margin-right);

@include generateIndentation("app-h-pt", $indentationSteps, padding-top);
@include generateIndentation("app-h-pr", $indentationSteps, padding-right);
@include generateIndentation("app-h-ph", $indentationSteps, padding-left padding-right);

// Width and Height
@for $i from 1 through 20 {
  .app-h-w#{$i * 5} {
    width: #{$i * 5%};
  }
  .app-h-h#{$i * 5} {
    height: #{$i * 5%};
  }
}

// *** Display ***
.app-h-block {
  display: block !important;
}

// *** Text formatting ***
// Size
.app-h-fz-why1 {
  font-size: $fontSize-why1;
}
.app-h-fz-larger {
  font-size: $fontSize-larger;
}
.app-h-fz-why2 {
  font-size: $fontSize-why2;
}
.app-h-fz-large {
  font-size: $fontSize-large;
}

// Weight
.app-h-bold {
  font-weight: $fontWeight-bold;
}

// Decoration
.app-h-line-through {
  text-decoration: line-through;
}
.app-h-line-halo {
  display: inline-flex;
  padding: $size-base * 2;
  background: rgba($color-text, 0.12);
  border-radius: $size-base * 4;
}
