@use "./variables" as *;

.app-l-main {
  min-height: 100%;
  padding-bottom: $size-base * 8;
  padding-top: $size-base * 15;
}

.app-l-container {
  padding-left: $size-base * 3;
  padding-right: $size-base * 3;
  max-width: $size-base * 320;
  margin: 0 auto;
}

.app-l-flex-row {
  display: flex;
  &__space-between {
    justify-content: space-between;
  }
  &__justify-center {
    justify-content: center;
  }
  &__align-center {
    align-items: center;
  }
}
