$size-base: 4px;

$indentationSteps: 0, 4, 7, 10, 13, 40, a;

$color-bg: #01060f;
$color-text: #fff;

$fontSize-largest: 1.25rem; // 20px
$fontSize-why1: 1.0625rem; // 17px
$fontSize-larger: 1rem; // 16px
$fontSize-why2: 0.9375rem; // 15px
$fontSize-large: 0.875rem; // 14px
$fontSize-normal: 0.75rem; // 12px
$fontSize-small: 0.625rem; // 10px

$fontWeight-bold: 700;
$fontWeight-normal: 400;
